@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  flex-shrink: 5 !important;
}
* {
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #979595;
}
.highlight::after {
  content: '';
  background: none !important;
  padding: 0 !important;
  line-height: 100% !important;
  position: relative;
  z-index: 99;
  display: inline-block !important;
  font-family: 'ss-bold';
}